@import "scss/bootstrap";
@import "./colors";
@import "./theme";
@import "./generic";
@import "./header";
@import "./aos";



// *{
//     border: 1px solid red;
// }



.hero {
  position: relative;
  padding: 5rem 0;
  padding-top: 8rem;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  .hero_list-sect .star_list{
    width: 33%;
  }
  .star_list .btn{
    color: $themeRed!important;
    font-size: calc(.6rem + .3vw);
    white-space: nowrap;
    
    
  }

  .star_list .item_icon{
    position: relative;
    padding-left: 1rem;
    &:after{
      content: '\e90e';

      font-family: 'icomoon';
      position: absolute;
      top: 50%!important;
      transform: translateY(-50%);
      left: 0;
      color: $theme_blue;
      font-size: .8rem;
      z-index: 10;
    }
  }

  .star_list{

  
  
  
    li:first-child {
  
      .star_item{
        font-weight: 500;
        color: $theme_blue;
        padding-left: 0;
        
      }
      
    }
  }

  .btn_wrapper{
    gap: 1rem;
    justify-content: center;

  }
}

.hero_inner {
  width: 50%;
  margin-right: auto;
  margin-bottom: calc(4rem + 1vw);
}

.hero_heading-sect {

  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.hero_heading {
  width: fit-content;
  font-size: calc(1rem + 0.5vw);
  small {
    display: inline-block;
    margin-left: 1rem;
    font-size: 75%;
    color: $blue;
  }
}

.hero_info {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: .5rem;
  h2 {
    // margin-bottom: 1rem;
    span {
      color: $themeRed;
    }
  }

  p {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.hero_services{
  padding: 1rem;
  width: fit-content;
  margin: 0 auto;
  text-transform: capitalize;
  flex-direction: column;
  gap: 1rem;

  h3{
    color: $themeRed;
    
  }

  ul{
  .btn{
    position: relative;
    &:before{
      position: absolute;
      content: '';
      top: 50%;
      left: 1.5rem;
      width: .4rem;
      height: .4rem;
      background-color: $black;
      border-radius: 50%;
      transform: translateY(-50%);
    }
    }
  }
}


.signup_options .heading_sect{
  padding: 1rem 0;
  text-align: center;
  h2{
    font-size: calc(1.2rem + .4vw);
    text-transform: capitalize;
    small{
      display: block;
      font-size: 40%;
      margin-top: .5rem;
    }
  }
}



//styling of content_pod

.content_pod {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 0.75rem 0;

  figure,
  figcaption {
    border-radius: 1rem;
    overflow: hidden;
  }

  figure {
    width: calc(60% - 0.75rem);
    position: relative;
    aspect-ratio: 7 / 3;
    background-color: lighten($color: $black, $amount: 80%);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      // inset: 0;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  figcaption {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    h2 {
      font-size: calc(1.2rem + 0.2vw);
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    strong {
      position: relative;
      padding-left: 1rem;
      margin-bottom: 1rem;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        border-radius: 0.25rem;
        background-color: green;
      }
    }

    .btn {
      width: fit-content;
    }
  }

  &:nth-child(2) {
    figcaption {
      background-color: lighten($color: $orange, $amount: 38%);

      strong {
        &:before {
          background-color: $orange;
        }
      }
    }
  }
  &:nth-child(3) {
    figcaption {
      background-color: lighten($color: $green, $amount: 55%);
      strong {
        &:before {
          background-color: $green;
        }
      }
    }
  }

  &:nth-child(4) {
    figcaption {
      background-color: lighten($color: $theme_blue, $amount: 40%)!important;
      strong {
        &:before {
          background-color: $theme_blue!important;
        }
      }
    }
  }
}

// styling of news_info

.news_info {
  .news_info-inner {
    padding: 1.5rem;
    border: 1px solid lighten($color: $black, $amount: 90%);
    border-radius: 1rem;

    figure {
      aspect-ratio: 7 / 2.5;
      margin-bottom: 1.5rem;
    }

    .sect_cont-wrapper {
      margin-bottom: 1.5rem;
      h2 {
        font-weight: bold;
        text-transform: capitalize;

        small {
          font-size: 40%;
          display: block;
          margin-top: 0.7rem;
          font-weight: normal;
        }
      }
    }

    .news_info-para {
      font-size: calc(0.6rem + 0.2vw);
      text-wrap: pretty;
      display: inline-block;
      width: 100%;
      text-align: justify;
      color: darken($color: $black, $amount: 60%);
    }
  }
}

//styling of comments_sect
.comments_sect {
  justify-content: space-between;
  figure {
    width: calc(45% - 2rem);
    aspect-ratio: 8 / 7.5;
  }

  article {
    width: 60%;

    // background-color: green;

    h3,
    ul {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  .pod_list {
    

    li {
      padding-left: 1.5rem;
      width: 50%;
      position: relative;

      &:before {
        font-family: "IcoMoon";
        content: "\e90c";
        position: absolute; 
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-weight: bold;
        font-size: .9rem;
      }
    }
  }

  .comment_article {
    width: 55%;
    .list_pod {
      padding: 2rem;
      border-radius: 0.75rem;
      &:nth-child(1) {
        background-color: lighten($color: $theme_blue, $amount: 42%);
        margin-bottom: 1rem;
        .pod_list {
          li {

            &:before {
              color: $blue;
            }
          }
        }
      }
      &:nth-child(2) {
        background-color: lighten($color: $green, $amount: 55%);

        .pod_list {
          li {

            &:before {
              color: $green;
            }
          }
        }
      }
    }
  }
}


//styling of footer_sect 

.footer_sect{
  background-color: $black;
  padding: 2rem 0;
}

.footer_img-sect{
  width: 20%;
  border-radius: 0;
}
.footer_logo{
  position: initial;
  width: calc(8rem + 5vw);
}

.footer_sect .star_list{
  width: 20%;
  padding-left: 2rem;
  // text-align: center;

  .btn{
    padding-left: 0;
  }

  .footer_sect .item_icon{
    padding-left: 3rem!important;
    &:before{
      display: none;
    }
  }


  li:first-child {

    .star_item{
      font-weight: 700;
      
    }
    
  }
}


.footer_sect .star_item{
  color: $white;
  font-weight: normal;
  font-size: calc(.5rem .3vw);
  overflow: hidden;
  border-radius: 0;
  padding-left: 0;
  position: relative;
  

  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 2px;
    background-color: $white;
    transform: translateX(-100%);
    transition: all .3s linear;
    
  }

  &:hover{
    color: $white;
    &:before{
      transform: translateX(0);
    }
  }

  .star_item-icon{
    transition: all .3s linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    background-color: $white;
    font-size: 1rem;
    border-radius: .25rem;
    
    i{
      color: $black;
      // position: static;
      margin-left: .35rem;
      
    }
  }

  &:hover{
    .star_item-icon{
      background-color: $themeYellow;
      i{
        color: $black;
      }
    }
  }

}

.footer_sect .item_icon{
  padding-left: 3rem!important;
}

.copy_right-section{
  border-top: 1px solid lighten($color: $black, $amount: 40%);
  margin-top: .5rem;
  padding-top: 1.5rem;
  text-align: center;
  color: $white;
  font-size: calc(.5rem + .3vw);
  text-transform: capitalize;
  color: lighten($black, 55%);
}



@media (max-width: 992px) {

  
  //styling of hero_inner

  .hero_inner{
    width: 100%;
  }
  // styling of content_pod
  .content_pod {
    gap: 1rem;
    figure {
      width: 100%;
    }

    figcaption {
      width: 100%;
    }
  }

  //styling of sect_cont-wrapper

  .sect_cont-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  //styling of comments_sect section

  .comments_sect {
    gap: 1rem;
    figure,
    .comment_article {
      width: 100% !important;
    }
  }

  //styling of .footer sect

  .footer_img-sect{
    width: 100%;
  }

  .star_list{
    width: 50%;
    padding: .5rem 0;
  }
}

// @media (max-width: 786px) {

// }

@media (max-width: 576px) {
  // generic styling about visibility of content

  .d_sm-none {
    display: none;
  }

  // styling of .news_info-para

  .news_info-para {
    font-size: calc(0.8rem + 0.3vw);
  }

  //styling of comments_sect section

  .pod_list li {
    width: 100% !important;
  }

  //styling of footer section

  .footer_inner{
    padding-left: 2.5rem;
  }

  .star_list{
    width: 100%;
    

  }

  .copy_right-section{

    font-size: calc(.8rem + .8vw);
    
  }
}
